.card-height{
    width: 90%;
    height: 30%;
    padding-top: 20px;
    top: 20px;
}

.personal-blog{
    padding-left: 20px;
}

.sub-menu{
    padding: 15px;
}

.drafts{
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}