.main-padding {
  padding: 3% 10% 10% 10%;
}

.story {
  width: 100%;
  min-height: 500px;
}

.textarea-padding {
  padding: 40px;
}

.title-padding {
  padding: 0px 100px;
}

.title {
  border: none;
  font-size: -webkit-xxx-large;
}

.story-setting {
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
}

.tag-div {
  width: 30%;
  min-height: 200px;
}

div > h3 {
  padding: 20px 0px 0px 25px;
}

.publish-div {
  text-align: center;
}

.publish-btn {
  outline: none;
  width: 10%;
  height: 50px;
  background-color: #039be5;
  color: #fff;
}

.ready {
  font-size: 20px;
  font-weight: bold;
}

.example-chip-list {
  width: 100%;
}

