.top-shift {
  margin-top: 5%;
}

.div-label-content {
  text-align: center;
}

.create-acc {
  color: blue;
  cursor: pointer;
  outline: none;
}

.toolbar-background{
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}

.sign-up {
  outline: none;
  width: 50%;
  background-color: #039be5;
  color: #fff;
  font-weight: normal;
}

.mat-card-actions {
  text-align: center;
}
