<nav>
  <mat-toolbar class="toolbar-background">
    <div class="ui action input search">
      <input type="text" placeholder="Search by tags, title">
      <button class="ui icon button">
        <i class="search icon"></i>
      </button>
    </div>
    <span class="example-spacer"></span>
    <div class="ui dropdown">
      <div class=" sign">{{username}}<i class="dropdown icon"></i></div>
      <div class="menu">
        <div class="item"><i class="edit outline icon"></i>New Story</div>
        <div class="item" (click)="onLoggedOut()"><i class="lock icon"></i>Logout</div>
      </div>
    </div>
  </mat-toolbar>
</nav>
<div class="ui error message center" *ngIf="serverErrorMessages">
  <div class="header">Action Forbidden</div>
  <p>{{serverErrorMessages}}</p>
</div>